@import '../index.css';

.navbar {
    display: none;
}
.navbar-expand {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.navbar-default{
    background-image: None;
    border: None;
    border-radius: 0;

}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}


.dropdown-item:active{
    background-color:var(--global-color-one);
}


.custom-nav {
    background-color: var(--global-color-one);
    justify-content: center;
}


.nav-row{
    min-width: 75%;
    margin: "0em";
    align: "center"
}