:root {
  --global-font-family: Verdana, sans-serif;
  --global-font-size: 1.0rem;
  --global-text-color: #696969;
  --global-text-color-dark: #404040;
  --global-primary-title-size: 2rem;
  --global-color-one: #ffdfd3;
  --global-color-two: #fec8d8;
  --global-color-three: #d291bc;
  --global-color-four: #957dad;
  --global-border-radius-sm: 3px;
  --global-text-color-light: #fff;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: var(--global-font-family);
  font-size: var(--global-font-size);
  color: var(--global-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--global-primary-title-size);
}

a {
  color: var(--global-text-color);
}
a:visited {
  color: var(--global-text-color);
}
a:hover {
  /* background-color: var(--global-text-color-dark); */
  text-decoration: none;
  color:var(--global-text-color-dark);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
